
<div class="text-center">
	<h3>Documents téléchargeables</h3>
</div>
<h4><img src="imagetest.png" class="pdf00"></h4>

	<a href="https://www.dropbox.com/s/cnu51ve3diq2eoi/logo_successport_computer.png?dl=0" target="_blank" >Document à télécharger</a>
<p>Find me in app/views/static_pages/investir.html.erb</p>
