 @import "bootstrap-sprockets" ;
 @import "bootstrap" ;

 button.btn.btn-default
 {
    height: 50px;
    width: 90px;
 }
 .navbar-default {
    background-color: black;
    border-color: black;
}
 .navbar
 {
     position: relative;
     min-height: 50px;
     margin-bottom: 20px;
     border: 0px solid transparent;

 }
 .navbar-default .navbar-brand
 {
     color: white;
     font-size: 35px;
 }
 .btn.btn-primary
 {
 	background-color: #428bca;
  margin-top: 10px;
 }
 a.btn.btn-primary.pro:hover
 {
 	background-color: #428bca;

 }
 .navbar-default .navbar-nav>li>a {
     color: white;
 }
 .navbar-middle{
     flex: 1;
     justify-content: center;
     order: 2;
     display: none;
 }
 img.phone
 {
   height: 20px;
   width: 20px
 }
 li.number
 {
   margin-top: 18px;
   color: white;
   margin-right: 5px;
 }
.form-control
{
  height: 50px;
  min-width: 300px;
  max-width: 450px;
}
#zone
{
  min-width: 340px;
  border: 5px solid #ddd;
  border-radius: 1px;

}
