 @import "bootstrap-sprockets" ;
 @import "bootstrap" ;
 body
 {
     background-color: #edefed;
     min-height: 2000px;
 }
 input#city.form-control
 {
   max-width: 600px;
   min-width: 400px;
   height: 50px;
 }
 button.btn.btn-default
 {
    height: 50px;
    width: 90px;
 }
 .navbar
 {
     position: relative;
     min-height: 50px;
     margin-bottom: 20px;
     border: 0px solid transparent;
 }
 .navbar-inverse .navbar-brand
 {
     color: white;
 }
 a.btn.btn-primary.pro:hover
 {
 	background-color: #428bca;

 }
 .navbar-inverse .navbar-nav>li>a {
     color: white;
 }

 h5.price
 {
 	color: black;
 }
 .thumbnail>img, .thumbnail a>img{
     display: block;
     height: 200px;
 }
 img.img_home
 {
   min-width: 10%!important;
 }
 .caption
 {
 	height: 120px;

 }
 h5.desc_home
 {
 	font-weight: 200;
    text-align: left;
 }
 img.phone
 {

   height: 20px;
   width: 20px
 }
 li.number
 {
   margin-top: 18px;
   color: white;
   margin-right: 5px;
 }
 #footer
 {
   height: 60px;
  padding-left: 15px;
   margin-top: 20px;
 }
 h4.text-footer
 {
   padding-top: 100px;
 }
 .pull-felt
 {
   float: left;
 }
 a:link
 {
  text-decoration:none;
 }
