#pub_investir
{

    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 4px;
    min-height: 100px;
    max-height: 900px;
    
}