body
{
    background-color: #edefed;
     
}

.navbar 
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent; 
}
.navbar-inverse .navbar-brand
{
    color: white;
}
a.btn.btn-primary.pro:hover
{
	background-color: #428bca;
	
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
h5.price
{
	color: black;
}
.thumbnail>img, .thumbnail a>img{
    display: block;
    max-width: 250px;
    height: 200px;
}
.caption
{
	height: 120px;	
}
h4.desc_home
{
	font-weight: 200;
}
img.phone
{
  
  height: 20px;
  width: 20px
}
li.number
{
  margin-top: 18px;
  color: white;
  margin-right: 5px;
}