.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent; 
}
.navbar-inverse .navbar-brand
{
    color: white;
}
a.btn.btn-primary.pro:hover
{
	background-color: #428bca;
	
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.price
{
	color: black;
}
.thumbnail>img, .thumbnail a>img{
    display: block;
    max-width: 250px;
    height: 200px;
}
.caption
{
	height: 130px;	
}
h4.desc_home
{
	font-weight: 200;
}