body
{
    background-color: #edefed;
     position: relative;
     height: 100%;
}
html
{
  height: 100%;
}
.navbar 
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent; 
}
.navbar-inverse .navbar-brand
{
    color: white;
}
a.btn.btn-primary.pro:hover
{
	background-color: #428bca;
	
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
h5.price
{
	color: black;
}
.thumbnail>img, .thumbnail a>img{
    display: block;
    max-width: 250px;
    height: 200px;
}
.thumbnail
{
  padding-bottom: 10px!important;
}
.caption
{
	height: 110px;	
}
h4.desc_home
{
	font-weight: 200;
}
.inner
{
     height:50px;
  position: absolute;
  bottom: 0px;
}